<div id="footer">
    <div class="container pt-2 d-flex">
        <h2 class="mr-3">
            Síguenos
        </h2>
    <div class="pt-2 ml-5">
        <a href="https://es-la.facebook.com"
        class="mr-4" target="_blank">
        <i class="fab fa-facebook-square"></i>
        Facebook
        </a>

        <a href="https://twitter.com/?lang=es"
        class="mr-4" target="_blank">
        <i class="fab fa-twitter-square"></i>
        Twitter
        </a>

        <a href="https://www.instagram.com/?hl-es-la"
        class="mr-4" target="_blank">
        <i class="fab fa-instagram"></i>
        Instagram
        </a>

    </div>
    <div class="pt-2 ml-auto">
        <a class="credits" href="">Créditos</a>
    </div>

    </div>

</div>
