<div class="song-title">
    <h2>Canciones</h2>
    <div class="form">
    <ul class="list-group ">
        <li class="list-group-item list-group-item-light d-flex justify-content-between list-songs">
          <div >
            <a href="#" ><img src="../../../assets/play-button-arrowhead.png" alt="" width="7%"></a>
            <a href="" class="ml-4"> Canción 1 </a>
          </div>
          <div>
            <a href="" ><img src="../../../assets/open-trash-can.png" class="float-right" alt="" width="10%"></a>
          </div>
        </li>
        <li class="list-group-item list-group-item-light d-flex justify-content-between list-songs">
          <div>
            <a href="#" ><img src="../../../assets/play-button-arrowhead.png" alt="" width="7%"></a>
            <a href="" class="ml-4"> Canción 2 </a>
          </div>
          <div>
            <a href="" ><img src="../../../assets/open-trash-can.png" class="float-right" alt="" width="10%"></a>
          </div>
        </li>
        <li class="list-group-item list-group-item-light d-flex justify-content-between list-songs">
          <div>
            <a href="#" ><img src="../../../assets/play-button-arrowhead.png" alt="" width="7%"></a>
            <a href="" class="ml-4"> Canción 3 </a>
          </div>
          <div>
            <a href="" ><img src="../../../assets/open-trash-can.png" class="float-right" alt="" width="10%"></a>
          </div>
        </li>
        <li class="list-group-item list-group-item-light d-flex justify-content-between list-songs">
          <div>
            <a href="#" ><img src="../../../assets/play-button-arrowhead.png" alt="" width="7%"></a>
            <a href="" class="ml-4"> Canción 4 </a>
          </div>
          <div>
            <a href="" ><img src="../../../assets/open-trash-can.png" class="float-right" alt="" width="10%"></a>
          </div>
        </li>
        <li class="list-group-item list-group-item-light d-flex justify-content-between list-songs">
          <div>
            <a href="#" ><img src="../../../assets/play-button-arrowhead.png" alt="" width="7%"></a>
            <a href="" class="ml-4"> Canción 6 </a>
          </div>
          <div>
            <a href="" ><img src="../../../assets/open-trash-can.png" class="float-right" alt="" width="10%"></a>
          </div>
        </li>
      </ul>
    </div>
    </div>
    
    
    