form{
    margin-top: 5%;
    /* padding: 7%; */
}

.custom-file-input{
    cursor: pointer;
}

.custom-file-label {
    /* font-size: 1.25em;
    font-weight: 700; */
    color: white;
    background-color: rgba(11, 72, 80, 0.322);
    /* display: inline-block; */
}



